$color-bg1: #47B247;
$color-bg2: #96C22B;
$color-text1: #313334;
$color-text2: #797C80;
$color-light: #DAE0E6;

%RobC-norm {
	font-family: "Roboto Condensed", "Arial", sans-serif;
	font-weight: 400;
}
%RobC-bold {
	font-family: "Roboto Condensed", "Arial", sans-serif;
	font-weight: 700;
}
%Rob-norm {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
}
%Rob-bold {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
}

body {
	background-color: #fff;
	color: $color-text1;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/* Первый блок. Представление устройства */
.device {
	width: 100%;
	height: 408px;
	margin-top: 40px;
	margin-bottom: 103px;

	border-radius: 18px;
	background: url(../img/im1.jpg) no-repeat;
}
.main {
	&-title {
		position: relative;
		width: 200px;
		padding-top: 50px;
		margin-left: 118px;
		margin-bottom: 105px;

		@extend %RobC-bold;
		font-size: 36px;
		line-height: 42px;
		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 60px;
			height: 80px;
			top: 50px;
			left: -73px;

			background: url(../img/ic-logo.svg) no-repeat;
			background-position: -50px -30px;
			background-size: top left;
		}
	}
	&-description {
		margin-left: 46px;
		margin-bottom: 46px;
		@extend %Rob-bold;
		font-size: 20px;
		line-height: 23px;
		width: 250px;
	}
}

/* Функции камер */
.features {
	width: 100%;
	margin-bottom: 65px;
	display: flex;
	justify-content: space-around;
}
.camera-wrapper {
	text-align: center;
	.popap-open {
		@extend %Rob-bold;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 23px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #747474;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
.camera-bg {
	display: block;
	width: 390px;
	height: 619px;
	padding-top: 80px;
	margin-bottom: 15px;

	background: linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
	border-radius: 18px;
	box-shadow: 0 50px 70px -20px $color-bg1,
							0 -20px 70px -50px $color-bg1;
}


/* Левый popup */
#btn-Left {
	border: none;
	background: transparent;
	@extend %Rob-bold;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: $color-text2;
	&:hover {
		text-decoration: underline;
	}
}
.modal-left {
	position: fixed;
	display: none;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(255, 255, 255, 1);
	&-content {
		position: relative;
		width: 720px;
		height: 698px;
		border-radius: 18px;
		background-color: transparent;
		margin: 15px auto;		
	}
}
.close-left {
	position: absolute;
	display: block;
	width: 52px;
	height: 52px;
	top: 50%;
	left: -75px;
	transform: translateY(-50%);
	background: linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
	border-radius: 50%;
	color: #fff;
	font-size: 50px;	
	font-weight: bold;	
	cursor: pointer;
}
.modal {
	&-wrapper {
		position: relative;
		z-index: 5;
	}
	&-cam {
		position: absolute;
		z-index: 10;
		width: 390px;
		height: 619px;
		padding-top: 80px;
		background-color: #fff;
		box-shadow: 0 0 5px 0 $color-text2;
		border-radius: 18px;
		top: 40px;
		left: -195px;
		opacity: .5;
	}
	&-bg {
		position: absolute;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		z-index: 100;
		width: 720px;
		height: 698px;
		padding: 40px;
		background: linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
		border-radius: 18px;
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		width: 311px;
		height: 196px;
		background-color: #fff;
		border-radius: 18px;
		&-icon {
			display: block;
			margin-left: 18px;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			&-1 {
				background: url(../img/Union.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
			&-2 {
				background: url(../img/Union1-2.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
			&-3 {
				background: url(../img/Union1-3.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
			&-4 {
				background: url(../img/rec.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
			&-5 {
				background: url(../img/Union1-5.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
			&-6 {
				background: url(../img/Union.png) no-repeat,
				            linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
				background-position: 50% 50%;
			}
		}
		&-text {
			width: 130px;
			margin-right: 18px;
			@extend %Rob-bold;
			font-size: 20px;
			line-height: 23px;
			color: $color-text1;
			text-align: left;
		}
	}
}

/* Правый popup */
#btn-Right {
	border: none;
	background: transparent;
	@extend %Rob-bold;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: $color-text2;
	&:hover {
		text-decoration: underline;
	}
}
.modal-right {
	position: fixed;
	display: none;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(255, 255, 255, 1);
	&-content {
		position: relative;
		width: 720px;
		height: 698px;
		border-radius: 18px;
		background-color: transparent;
		margin: 15px auto;	
	}
}
.close-right {
	position: absolute;
	display: block;
	width: 52px;
	height: 52px;
	top: 50%;
	right: -75px;
	transform: translateY(-50%);
	background: linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
	border-radius: 50%;
	color: #fff;
	font-size: 50px;	
	font-weight: bold;	
	cursor: pointer;
}
.modal {
	&-tel {
		position: absolute;
		z-index: 10;
		width: 390px;
		height: 619px;
		padding-top: 42px;
		background-color: #fff;
		box-shadow: 0 0 5px 0 $color-text2;
		border-radius: 18px;
		top: 40px;
		right: -195px;
		opacity: .5;
	}
}

/* Блок покупок */
.acquire {
	width: 963px;
	margin-bottom: 111px;
	&-title {
		text-align: center;
		@extend %RobC-bold;
		color: $color-text1;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 38px;
	}
	&-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&-item {
		display: block;
		width: 213px;
		height: 213px;
		text-align: center;
		background: linear-gradient(180deg, $color-bg2 0%, $color-bg1 100%);
		border-radius: 18px;
		box-shadow: 0 50px 70px -20px $color-bg1,
								0 -20px 70px -50px $color-bg1;
	}
	&-text {
		display: block;
		@extend %Rob-bold;
		font-size: 20px;
		padding-top: 153px;
		line-height: 23px;
		color: #fff;
		span {
			display: block;
			font-size: 18px;
			line-height: 21px;
		}
	}
}

/* Форма заявки */
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 872px;
	height: 332px;
	padding: 40px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 120px;
	border-radius: 18px;
	box-shadow: 0 50px 70px -20px $color-bg1,
							0 -20px 70px -50px $color-bg1;
	&-text {
		width: 360px;	
		@extend	%Rob-bold;
		font-size: 20px;
		line-height: 23px;	
	}
	&-control {
		width: 276px;
		height: 60px;
		border: 3px solid $color-light;
		border-radius: 4px;
		text-align: center;
		@extend %Rob-bold;
		font-size: 36px;
		line-height: 42px;
		&:focus {
			border-color: $color-bg1;
			box-shadow: 0 10px 30px 0px $color-bg1;
		}
	}
	&-btn {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 278px;
		height: 60px;
		background-color: $color-bg1;
		border: none;
		border-radius: 4px;
		@extend %RobC-bold;
		font-size: 22px;
		line-height: 26px;
		text-transform: uppercase;
		color: #fff;
		span {
			display: inline-block;
			width: 43px;
			height: 29px;
			background: url(../img/ic.svg) no-repeat;
			background-size: cover;
		}
	}
}